.goods{
  padding: 80px 0 130px;
  background-color: #EFEFEF;
  .container{
    h1{
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      color: #000000;
      margin-bottom: 40px;
    }
  }
}
.goods-card-wrapper{
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 100px;
}
.goods-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 60px;
  background-color: #fff;
  .card-img{
    margin-bottom: 20px;
  }
  p{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #333333;
    margin-bottom: 20px;
  }
  h3{
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
    margin-bottom: 20px;
  }
  button{
    background-color: #66C05D;
    border-radius: 30px;
    border: none;
    padding: 9px 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    cursor: pointer;
    &:hover{
      background-color: #24d315;
    }
  }
}
.goods-blocks{
  display: flex;
  gap: 30px;
}
.subscribe,.our-shops{
  padding: 35px 40px;
  background-color: #66C05D;
  width: 100%;
}
.subscribe{
  display: flex;
  justify-content: space-between;
  align-items: center;
  .subscribe-text{
    p{
      max-width: 80%;
    }
    input{
      background-color: #FFFFFF;
      border-radius: 30px;
      padding: 9px 25px;
      border: none;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      &:hover{
        outline: none;
      }
    }
  }
}
.our-shops{
  p{
    max-width: 40%;
  }
  button{
    background-color: #66C05D;
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    padding: 9px 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    cursor: pointer;
    &:hover{
      opacity: .6;
    }
  }
}
.goods-blocks-title{
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  margin-bottom: 25px;
}
.goods-blocks-text{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  margin-bottom: 25px;
}