.header{
  width: 100%;
}
.header-nav{
  background-color: #E5E5E5;
  .container{
    padding: 0 30vw;
  }
}
.header-nav-list{
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
  .nav-item{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
    text-decoration: none;
    &:hover{
      opacity: .6;
    }
  }
}
.header-info{
  padding: 20px 0;
  border-bottom: 1px solid #EFEFEF;
}
.header-info-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo{
  a{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.1em;
    color: #66C05D;
  text-decoration: none;
    img{
      width: 80px;
      vertical-align: middle;
      margin-right: 10px;
    }
  }
}
.header-connection{
  a{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    text-decoration: none;
  }
  button{
    padding: 12px 25px;
    border: 2px solid #66C05D;
    background-color: #fff;
    border-radius: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin-left: 20px;
    cursor: pointer;
    transition: all .3s ease 0s;
    &:hover{
      background-color: #66C05D;
    }
  }
}

.header-links-wrapper{
  padding: 30px 0;
  .container{
    padding: 0 25vw;
  }
}
.header-link{
  display: flex;
  justify-content: space-around;
  a{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    text-decoration: none;
    &:hover{
      opacity: .6;
    }
  }
}
.header-banner{
  position: relative;
  width: 100%;
  height: 600px;
  background-image: url("../../assets/img/sale-background.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.header-banner-info{
  position: absolute;
  top: 190px;
  left: 300px;
  h1{
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
    margin-bottom: 50px;
  }
  p{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 50px;
    max-width: 300px;
  }
  button{
    padding: 12px 25px;
    background: #66C05D;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    cursor: pointer;
    &:hover{
      opacity: .6;
    }
  }
}